extends layout

block content
  div.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-center
    h5.lead さんぽにっきにtwitterでログイン
    a(href="/auth/twitter")
      button.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-info twitterでログイン
  if user
     p 現在 #{user.username} でログイン中