extends layout

block content
  if err
    p= err
  else
    div.mx-5
        form(method="post", action="/diaries")
          div.row.gy-3
            div.col-6
              label.form-label 日付
              input(type="date" name="date" required).form-control
            div.col-6
              label.form-label 歩数
              input(type="number" name="step" required).form-control
            div.col-12
              label.form-label 日記
              textarea(name="diarytext" required).form-control
          button(type="submit").btn.btn-primary.my-3 日記を投稿する