extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
     p 現在 #{user.displayName} でログイン中
     div
       ul
         li: a(href="/users/diaries") 日記一覧
         li: a(href="/users/new") 日記投稿
  else
     div
       a(href="/login") ログイン